$blue-color: #2F327D;
$orange-color: #F48C06;
$lightblue-color: #65DAFF;
$black-color: #464646;
$lightblack-color: #696984;
$brown-color: #595959;

$font-sm: 22px;
$font-md: 40px;

$lineheight-sm: 39px;
$lineheight-md: 41px;

$nunito-font: 'Nunito Sans', sans-serif;
