@use "base/shared.scss" as a;

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-section{
    // position: relative;
    // background-color: black;

    .container{
        // position: relative;
        max-width: 1920px;
        // min-height: 1118px;
        min-height: 700px;
        background-color: #FFF2E1;
        // overflow: hidden;
        // border-radius: 0 0 50px 50px;

        .hero-img{
            overflow: hidden;
            max-width: 911px;
            // min-height: 892px;
            min-height: 300px;
            position: relative;
            
            .children-image{
                max-width: 250px;
                min-height: 250px;
                display: flex;
                justify-content: center;
                align-items: start;
                margin: 0 auto;
                padding-top: 20px;
            }

            .assisted-student{
                position: absolute;
                top: 92px;
                left: -1rem;
                @import "components/small-card.scss";
            }

            .user-experience{
                position: absolute;
                top: 246px;
                left: -36px;
                @import "components/small-card.scss";

                button{
                    padding: 8px 62px;
                    background-color: #D8587E;
                    border: none;
                    outline: none;
                    border-radius: 50px;
                    display: block;
                    margin: auto;
                    @include a.text-style(
                        700,
                        15px,
                        20px,
                        white,
                        a.$nunito-font,
                    );
                }
            }

            .congratulations{
                position: absolute;
                top: 165px;
                right: -36px;
                @import "components/small-card.scss";
            }

            .chart{
                position: absolute;
                top: 60px;
                right: 22px;

                img{
                    width: 80px;
                    height: 80px;
                }
            }
        }

        .hero-text{
            padding: 0 15px;
            margin-top: 20px;
            h1{
                // width: 338px;
                width: clamp(18rem, 43vw, 681px);
                @include a.text-style(
                    700,
                    clamp(1.9rem, 2.5vw + 1rem, 54px),
                    // clamp(43px, 1vh + 1rem, 81px),
                    43px,
                    a.$blue-color
                );

                span{
                    color: a.$orange-color;
                }
            }

            p{
                margin-top: 8px;
                @include a.text-style(
                  400,
                  16px,
                  28px,
                    a.$black-color,
                    a.$nunito-font
                );
            }

            .button-hero-text{
                margin-top: 10px;
                @include a.simple-flex(
                    20px
                );
                button{
                    background-color: a.$orange-color;
                    padding: 10px 20px;
                    outline: none;
                    border: none;
                    border-radius: 50px;
                    @include a.text-style(
                        400,
                        13px,
                        20px,
                      white,
                    );
                }

                div{
                    img{
                        padding: 12px;
                        border-radius: 50px;
                        background-color: white;
                        // overflow: visible;
                    }
                    @include a.simple-flex(
                        10px
                    );

                    p{
                        @include a.text-style(
                            800,
                            13px,
                            20px,
                            #252641
                        );
                    }
                }
            }
        }
        .hero-svg{
            width: 100vw;
            display: none;
        }
    }


    // RESPONSIVE BREAKPOINTS
    @media (min-width: 768px){
        .container{
            position: relative;
            min-height: 300px;
            padding: 20px 20px 0 20px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;

            .hero-img{
                overflow: visible;
                // flex: 1 1 563px;
                width: 350px;

                .assisted-student{
                    left: -2.5rem;
                }

                .user-experience{
                    top: 225px;
                    left: -50px;
                }

                .congratulations{
                    right: -52px;
                }

                .chart{
                    right: 6px;
                }
            }

            .hero-text{
                // flex-grow: 1;
                h1{
                    // width: 338px;
                    // width: max(401px, 346px);
                    line-height: 55px;
                    // width: 40vw;
                }
                p{
                    max-width: 325px;
                    margin: 10px 0;
                }
            }
        }

        .hero-svg{
            display: none;
        }
    }
    
    @media (min-width: 1024px){
        position: relative;
        z-index: 2;
        // overflow-x: hidden;
        // overflow-y: visible !important;

        .container{
            // overflow-x: hidden;
            gap: 74px;
            // align-items: start;
            // display: grid;
            grid-template-columns: repeat(3, 1fr);
            z-index: 2;
            position: relative;
            min-height: 678px;
            .hero-img{
                // flex: 1 1 100%;
                grid-column: span 2;
                // overflow-x: hidden;
                z-index: 2;
                position: relative;
                // top: 95px;
                width: 453px;
                // transform: scale(1.6);
                // border: 1px solid black;

                .children-image{
                    padding: 0;
                    max-width: 382px;
                }

                .assisted-student{
                    transform: scale(1.4);
                    left: -3rem;
                    top: 9rem;
                }

                .user-experience{
                    transform: scale(1.5);
                    top: 366px;
                    left: -144px;
                }

                .congratulations{
                    transform: scale(1.4);
                    top: 16rem;
                    right: -3rem;
                }

                .chart{
                    transform: scale(1.5);
                    top: 5rem;
                    right: -2rem;
                }
            }

            .hero-text{
                grid-column: span 1;
                h1{
                    line-height: 73px;
                }

                .p-hero-text{
                    margin-top: 34px;
                    font-size: 24px;
                    max-width: 461px;
                    line-height: 40px;
                }

                .button-hero-text{
                    margin-top: 52px;
                    button{
                        font-size: 24px;
                        padding: 22px 38px;
                    }
                }
            }

            .hero-svg{
                // width: 100vw;
                overflow: hidden;
                display: block;
                position: absolute;
                bottom: -90px;
                left: 0;
                right: 0;
                z-index: 1;

                .path{
                    width: 50% !important;
                }
            }
        }

    }
    // END RESPONSIVE BREAKPOINTS
}
